<div>
  <form [formGroup]="directoryEdit" (ngSubmit)="directoryEditSave()">
    <mat-form-field appearance="fill">
      <mat-label>Nom</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
  </form>
</div>
