<div>
  <div id="logo">Logo</div>
  <div id="spacer">&nbsp;</div>
  <div id="menu">
    <ul>
      <li><a routerLink="/directory" routerLinkActive="activated">Annuaire</a></li>
      <li><a routerLink="/news" routerLinkActive="activated">Infos</a></li>
    </ul>
  </div>
</div>
