div {
  background-color: gainsboro;
  padding:10px;
  display: flex;
  width:100%;
  #logo {
    width:20%;
  }
  #spacer {
    width:58%
  }
  #menu {
    width:20%;
    text-align: right;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      li {
        font-weight: bold;
        font-family: sans-serif;
        font-size: 15px;
        float: left;
        margin-left:25px;
      }
    }
  }
}
