p {
  font-family: 'Titillium Web', sans-serif;
}

div {
  display: inline-flex;
  width:100%;
  font-family: 'Titillium Web', sans-serif;
  #logo {
    width:100px;
  }
  #spacer {

  }
  #menu {
    min-width:100px;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      padding-left: 20px;
      li {
        float:left;
        padding: 10px;
      }
    }
  }
}
