<div>
  <form [formGroup]="directoryItemEditForm">
    <mat-form-field appearance="fill">
      <mat-label>Nom</mat-label>
      <input formControlName="name">
    </mat-form-field>
    <button mat-raised-button color="primary">Ajouter</button>
  </form>
</div>
