<div>
  <div *ngIf="!(directoryitems$ | async); else DirectoryItemsList">loading</div>
  <ng-template #DirectoryItemsList>
    <table>
      <tr *ngFor="let item of directoryitems$ | async">
        <td><a [routerLink]='item.id'>{{ item.name }}</a></td>
          <td><button mat-raised-button color="primary" (click)='editDirectoryItem(item.id)'>éditer</button></td>
      </tr>
    </table>
    </ng-template>
</div>
